$hoverblue: rgb(48, 89, 122);

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(59, 59, 59);
}

::-webkit-scrollbar { width: 15px; }
::-webkit-scrollbar-track { background: white; cursor: pointer; }
::-webkit-scrollbar-thumb { background: darkgrey; cursor: pointer; }
::-webkit-scrollbar-thumb:hover { background: grey; }

#homeTitle {
    font-size: 160px;
    line-height: 220px;
    -webkit-text-stroke: 2px rgb(156,156,156);
}
#usernameInput {
    width: 700px;
}
.userTxt { border: black; }
.loginBottom {
    color: rgb(112, 112, 112);
    text-decoration: none;
    &:hover {
        color: rgb(26, 26, 26);
        cursor: pointer;
    }
}
.userGo {
    @extend .userTxt;
    background: steelblue;
    &:hover { background: $hoverblue; }
}

.passCreate { display: none; }
.btn-group .btn {
    background: lightgray;
    &:hover, &.active { background: darkgrey; }
}
.box {
    width: 50px;
    height: 50px;
    background: lightgrey;
    &:hover, &.active {
        transition: 0.3s;
        cursor: pointer;
        background: steelblue;
    }
}
.colorBox {
    width: 50px;
    height: 50px;
    background: lightgrey;
    &:hover { 
        cursor: pointer;
        filter: brightness(75%);
    }
}
.colorPick {
    width: 50px;
    .section {
        height: 20px;
        width: 27px;
        &:hover { 
            cursor: pointer;
            filter: brightness(75%);
        }
    }
}
.logGrid {
    width: 500px;
    margin: auto;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
    background: white;
    border: black 2px solid;
}
.logColors {
    @extend .logGrid;
    padding-right: 20px;
    padding-left: 20px;
}
.logSlides {
    width: 700px;
    @extend .logGrid;
}
.slider {
    width: 440px;
    margin-bottom: 20px;
    accent-color: steelblue;
    &:hover { cursor: pointer; }
}
.modalEnd {
    transition: 0.3s;
    color: white !important;
    background: steelblue;
    border: none;
    &:hover { background: $hoverblue; }
}
.vertCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space:nowrap;
    overflow: hidden;
}

#navBar {
    width: 150px;
    height: 100vh;
    border-right: 2px solid white;
    position: relative;
    z-index: 999;
    #friends {
        border: 0;
        transition: 0.3s;
        position: absolute;
        top: 13.5vh;
        overflow-y: scroll;
        width: 138px;
        height: 86.5vh;
    }
    #menuContainer {
        position: absolute;
        top: 1.5vh;
        left: 25px;
        #menu {
            border: 0px;
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
            background: black;
            transition: 0.3s;
            #menuLogo {
                width: 9vh;
                filter: invert(100%);
                -webkit-filter: invert(100%);
            }
            &:hover { background-color: steelblue; }
        }
        #menuDrop {
            transition: 0.3s;
            margin-left: 30px;
            border: white 2px solid;
            div {
                cursor: pointer;
                color: white;
                transition: 0.3s;
                &:hover {
                    background: steelblue;
                    color: white;
                }
            }
        }
    }
    .circle {
        border: 3px solid steelblue;
        user-select: none;
        height: 85px;
        width: 85px;
        margin-left: 17px;
        cursor: pointer;
        transition: 0.2s;
        &.active, &:hover { border: 10px solid steelblue; }
    }
    .name {
        font-size: 12px;
        margin-left: 6px;
        margin-top: 3px;
        overflow: hidden;
    }
}

.chatBox {
    resize: both;
    overflow: hidden;
    display: none;
    background: lightgrey;
    width: 400px;
    height: 400px;
    min-width: 250px;
    min-height: 150px;
    position: absolute;
    border: black solid 3px;
    .top {
        width: 100%;
        cursor: move;
        height: 48px;
        background: grey;
        border-bottom: black 2px solid;
        .chatName {
            color: black;
            font-weight: bold;
            position: absolute;
            top: 9px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    @mixin logos($top, $width) {
        position: absolute;
        top: $top;
        width: $width;
        transition: 0.2s;
    }
    .settingsLogo { @include logos(6px, 35px); left: 7px; }
    .lockLogo { @include logos(8px, 30px); left: 45px; }
    .windowLogo { @include logos(8px, 30px); right: 36px; }
    .close {
        position: absolute;
        top: 6px;
        right: 8px;
        transition: 0.2s;
        color: black;
        &:hover {
            cursor: pointer;
            color: white;
        }
    }
    .settingsLogo:hover, .lockLogo:hover, .windowLogo:hover {
        filter: invert(100%);
        -webkit-filter: invert(100%);
        cursor: pointer;
    }
    .chatArea {
        height: 310px;
        overflow-y: auto;
        @mixin chatBubble($align, $color) {
            background: $color;
            text-align: $align;
            max-width: 70%;
            overflow-wrap: break-word;
            padding-top: 8px; padding-bottom: 8px;
            padding-left: 12px; padding-right: 12px;
            color: black;
            display: inline-block;
        }
        .myHolder {
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            padding: 5px;
            .myChat { 
                @include chatBubble(right, #a5c9e9);
                cursor: pointer;
                transition: 0.2s;
                &:hover { background-color: #66abe8; }
            }
            .textOptions {
                display: flex;
                font-size: 15px;
                color: grey;
                cursor: pointer;
                .edit, .save {
                    margin-right: 5px;
                    &:hover { color: black; }
                }
                .delete, .cancel {
                    margin-left: 5px;
                    &:hover { color: black; }
                }
            }
        }
        .theirHolder {
            padding: 5px;
            .theirChat { @include chatBubble(left, darkgrey); }
            .theirChatName { font-size: 12px; }
        }
    }
    .textBox {
        position: absolute;
        bottom: -16px;
        .btn {
            z-index: 0;
            background:steelblue;
            color: white !important;
            &:hover { background: $hoverblue; }
        }
    }
}

@mixin topScreens($height){
    z-index: 998;
    display: none;
    height: $height;
    width: 835px;
    background: steelblue;
    border-bottom: white 2px solid;
    border-right: white 2px solid;
    position: absolute;
    top: 0;
    left: 0;
    .content { margin-left: 150px; }
    .exit {
        position: absolute;
        top: 2px;
        right: 8px;
        cursor: pointer;
        &:hover { color: white; }
    }
}

#addFriends {
    @include topScreens(100px);
    #requestSend { z-index: 0; }
    #sentMessage {
        display: none;
        position: absolute;
        width: 685px;
        height: 40px;
        top: 100px;
    }
}

#requests {
    @include topScreens(50px);
    #requestMessage {
        display: none;
        position: absolute;
        width: 100%;
        height: 40px;
        top: 100px;
    }
    .request {
        display: flex;
        height: 80px;
        width: 685px;
        padding-top: 8px;
        padding-left: 15px;
        background: white;
        border: solid grey;
        border-width: 2px 2px 2px 0px;
        .circle {
            border: 2px solid black;
            width: 60px;
            height: 60px;
        }
        #name {
            margin-top: 10px;
            margin-left: 20px;
            font-size: 25px;
            color: black;
        }
        @mixin requestButton($background, $border, $right){
            transition: 0.2s;
            font-weight: bold;
            width: 100px;
            height: 50px;
            line-height: 43px;
            background: $background;
            border: 2px solid $border;
            margin-top: 5px;
            text-align: center;
            position: absolute;
            right: $right;
            cursor: pointer;
            &:hover { background: $border; }
        }
        .accept {
            @include requestButton(lime, limegreen, 135px);
        }
        .decline {
            @include requestButton(red, crimson, 25px);
        }
    }
}

#settings {
    @include topScreens(325px);
    @mixin buttons($background, $border, $width){
        transition: 0.2s;
        font-weight: bold;
        width: $width;
        height: 50px;
        line-height: 43px;
        background: $background;
        border: 2px solid $border;
        margin-top: 23px;
        margin-left: 20px;
        text-align: center;
        cursor: pointer;
        &:hover { background: $border; }
    }
    #picArea {
        display: flex;
        #profilePic {
            margin-top: 7px;
            margin-left: 25px;
            border: 2px solid black;
            width: 80px;
            height: 80px;
        }
        #tryAddress {
            @include buttons(orange, chocolate, 120px);
        }
        #submitPic {
            @include buttons(lime, limegreen, 155px);
            margin-left: 10px;
        }
    }
    #buttonArea {
        display: flex;
        #resetLocks {
            @include buttons(mediumblue, navy, 260px);
            color: white;
        }
        #deleteAcc {
            @include buttons(firebrick, darkred, 200px);
            color: white;
        }
    }
    #emailSent {
        display: none;
        position: absolute;
        width: 100%;
        height: 40px;
        top: 325px;
        background: lime;
        color: green;
    }
}

#requestSend, #redirectSend {
    transition: 0.2s;
    background: black;
    &:hover { background: rgb(69, 69, 69); }
}

.createLock {
    width: 100%;
    height: auto;
    background: white;
}
.lockLogin {
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgb(26, 26, 26);
    position: absolute;
}

.lockSetContent, .chatSetContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: steelblue;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    @mixin lockButtons($border, $background){
        transition: 0.2s;
        font-weight: bold;
        font-size: 15px;
        width: 150px;
        height: 50px;
        line-height: 43px;
        background: $background;
        border: 2px solid $border;
        text-align: center;
        cursor: pointer;
        &:hover { background: $border; }
    }
    .changeLock {
        @include lockButtons(orange, chocolate);
    }
    .deleteLock {
        @include lockButtons(red, crimson);
    }
    .deleteChats {
        @include lockButtons(rebeccapurple, indigo);
        color: white;
    }
    .removeFriend {
        @include lockButtons(mediumblue, navy);
        color: white;
    }
}

@media (min-width: 500px) and (max-width: 835px) {
    .input-group {
        width: 500px !important;
    }
    #settings, #addFriends, #requests {
        height: auto;
        width: 100vw;
        padding-bottom: 20px;
        .input-group {
            width: 75vw !important;
        }
    }
}

@media (min-width: 717px) and (max-width: 737px) {
    #submitPic {
        height: 70px !important;
        line-height: 30px !important;
    }
}
@media (min-width: 500px) and (max-width: 716px) {
    #tryAddress, #submitPic {
        height: 70px !important;
        line-height: 30px !important;
    }
}

@media (min-width: 500px) and (max-width: 558px) {
    #resetLocks {
        height: 70px !important;
        line-height: 30px !important;
    }
}
@media (min-width: 500px) and (max-width: 512px) {
    #deleteAcc {
        height: 70px !important;
        line-height: 30px !important;
    }
}

@media (max-width: 499px) {
    #homeTitle {
        font-size: 125px;
    }
    .box {
        width: 40px;
        height: 40px;
    }
    .logGrid, .logColors, .logSlides, .logColors, .logSlides {
        width: 300px;
    }
    .input-group {
        width: 350px !important;
    }
    #navBar {
        width: 100px;
    }
    #menuContainer {
        left: 15px !important;
    }
    #menuLogo {
        width: 6vh !important;
    }
    #menuDrop {
        margin-left: 15px !important;
    }
    #friends {
        top: 10.5vh !important;
    }
    .circle {
        width: 70px !important;
        height: 70px !important;
        margin-left: 5px !important;
    }
    .name {
        margin-left: 0px !important;
        margin-right: 50px;
    }
}
